/*
-- HERO STYLE --------------------------------------------------------------------
*/

.hero-section-home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 0px 0px 250px;

    .hero-text {
        width: 40%;
    }

    h1 {
        font-size: 3rem;
        padding: 5px;
        animation: fadeIn 2s;
    }
    p {
        font-size: 1.4rem;
        width: 300px;
        padding: 5px;
        animation: fadeIn 3s;
    }
}

.hero-header {
    font-size: 25px;
    animation:
        rollIn 1s,
        fadeIn 1.5s;
}

/* 
    HOME-style
*/

.main-home-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 0px 0px 200px;
}
.main-header {
    margin-bottom: 50px;
}

/*
-- MEDIA QUERIES --///////////////////////////////////////////////////////////
*/

@media screen and (max-width: 1080px) {
    .hero-header {
        display: none;
    }

    .bg-img-hero {
        height: 90%;
    }

    .hero-section-home {
        margin: inherit;
        margin-top: 150px;
        align-items: center;

        .hero-title {
            text-align: center;
            font-size: 2rem;
        }
        .hero-text {
            text-align: center;
            font-size: 1rem;
            width: auto;
        }
    }
}
